{% extends 'base.html' %}

{% block title %}Manage Inventory{% endblock %}

{% block content %}
<ul>
    {% for product in products %}
    <li>
        {{ product.name }} - Stock: {{ product.stock_level }} - Price: ${{ product.price }}
        <form method="post" action="{% url 'delete_item' %}">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <button type="submit">Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>

{% endblock %}